/vendor/
/composer.lock
/coverage.xml
/fixtures/Bridge/MongoDB/data/*
!/fixtures/Bridge/MongoDB/data/.gitkeep
/fixtures/Bridge/Propel2/generated
/fixtures/Bridge/Propel2/Model/
!/fixtures/Bridge/Propel2/Model/.gitkeep
/fixtures/Bridge/Symfony/SymfonyApp/cache/*
/var
/phpunit.xml
/.php_cs.cache
/.phar/
/vendor-bin/*/bin/
/vendor-bin/*/composer.lock
/vendor-bin/*/vendor/
/dist/
/bin/
!/bin/console
!/bin/doctrine_purge
!/bin/eloquent_migrate
!/bin/eloquent_rollback
/.phpunit.result.cache
