/vendor/
/composer.lock
/coverage.xml
/phpunit.xml
/.php_cs.cache
/.phar/
/vendor-bin/*/bin/
/vendor-bin/*/vendor/
/vendor-bin/*/composer.lock
/dist/
/bin/
!/bin/clear_cache.sh
!/bin/console
!/bin/doctrine_purge
!/bin/eloquent_migrate
!/bin/eloquent_rollback
!/bin/test.sh
!/bin/cs.sh
