sudo: false

language: php

cache:
  directories:
    - "$HOME/.composer/cache"

php:
  - '7.0'
  - nightly

services:
  - mysql

matrix:
  fast_finish: true
  include:
    - php: '7.0'
      env:
        #- COVERAGE='true' TODO
        - COMPOSER_FLAGS='--prefer-lowest'

    # Doctrine bridge
    - php: '7.0'
      env:
        - DOCTRINE_VERSION='^2.5'
        - COMPOSER_FLAGS='--prefer-lowest'

    - php: '7.0'
      env:
        - DOCTRINE_VERSION='^2.5'

    # Symfony bridge
    - php: '7.0'
      env:
        - SYMFONY_VERSION='^3.0'
        - COMPOSER_FLAGS='--prefer-lowest'
    - php: '7.0'
      env: SYMFONY_VERSION='^3.1'
    - php: '7.0'
      env: SYMFONY_VERSION='^3.2@dev'

  allow_failures:
    - php: nightly
    - env: SYMFONY_VERSION='^3.2@dev'
    - env: COMPOSER_FLAGS='--prefer-lowest' # TODO: make them pass

before_install:
  - set -eo pipefail
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - |
    if [ "nightly" != "$TRAVIS_PHP_VERSION" ]; then
        phpenv config-rm xdebug.ini
    fi
  - PHPUNIT_BIN='vendor/bin/phpunit'
  - PHPUNIT_CONFIG='phpunit.xml.dist'
  - PHPUNIT_FLAGS='--stop-on-failure --verbose'

install:
  - composer update --prefer-dist $COMPOSER_FLAGS
  - |
    if [ -n "$DOCTRINE_VERSION" ]; then
        composer bin doctrine require --no-update doctrine/orm "doctrine/orm:${DOCTRINE_VERSION}"
        PHPUNIT_CONFIG='phpunit_doctrine.xml.dist'
        PHPUNIT_BIN='vendor-bin/doctrine/vendor/phpunit/phpunit/phpunit'
    fi
  - |
    if [ -n "$SYMFONY_VERSION" ]; then
        composer bin symfony require --no-update symfony/symfony "symfony/symfony:${SYMFONY_VERSION}"
        PHPUNIT_CONFIG='phpunit_symfony.xml.dist'
        PHPUNIT_BIN='vendor-bin/symfony/vendor/phpunit/phpunit/phpunit'
    fi
  - composer bin all update --prefer-dist $COMPOSER_FLAGS
  - |
    if [ -n "$DOCTRINE_VERSION" ] || [ -n "$SYMFONY_VERSION" ]; then
        mysql -u root -e "create database IF NOT EXISTS fidry_alice_data_fixtures;"
        php vendor/bin/doctrine o:s:c
    fi

script:
  - |
    if [ -n "$COVERAGE" ]; then
        phpdbg -qrr $PHPUNIT_BIN -c $PHPUNIT_CONFIG $PHPUNIT_FLAGS --testdox --coverage-text
    else
        $PHPUNIT_BIN -c $PHPUNIT_CONFIG $PHPUNIT_FLAGS
    fi

notifications:
    email: false
