language: php

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - '7.3'
  - '7.4'

branches:
  only:
    - master

matrix:
  fast_finish: true
  include:
    - php: '7.3'
      env:
        - COVERAGE='true'
        - COMPOSER_FLAGS='--prefer-lowest'

    - php: '7.3'
      env: SYMFONY_VERSION='~3.4.0'
    - php: '7.3'
      env: SYMFONY_VERSION='~4.4.0'
    - php: '7.3'
      env: SYMFONY_VERSION='~5.0.0'

before_install:
  - set -eo pipefail
  - pecl install -f mongodb-stable
  - make start_databases
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - phpenv config-rm xdebug.ini || true
  - PHPUNIT_FLAGS='--stop-on-failure --verbose'

  # TODO: Allow using Composer version 2 when will wikimedia/composer-merge-plugin support it too.
  - composer self-update --1

install:
  - perl -pi -e 's/^}$/,"provide":{"ext-mongo":"*"}}/' composer.json
  - composer update --prefer-dist $COMPOSER_FLAGS
  - if [ -n "$SYMFONY_VERSION" ]; then
        composer bin symfony require --dev --no-update "symfony/symfony:${SYMFONY_VERSION}";
        composer bin proxy-manager require --dev --no-update "symfony/symfony:${SYMFONY_VERSION}";
    fi
  - if [ -n "$ELOQUENT_VERSION" ]; then
        composer bin eloquent require --dev --no-update "illuminate/database:${ELOQUENT_VERSION}";
        composer bin symfony require --dev --no-update "illuminate/database:${ELOQUENT_VERSION}";
        composer bin proxy-manager require --dev --no-update "illuminate/database:${ELOQUENT_VERSION}";
    fi
  - if [ -n "$DOCTRINE_VERSION" ]; then
        composer bin doctrine require --dev --no-update "doctrine/orm:${DOCTRINE_VERSION}";
        composer bin symfony require --dev --no-update "doctrine/orm:${DOCTRINE_VERSION}";
        composer bin proxy-manager require --dev --no-update "doctrine/orm:${DOCTRINE_VERSION}";
    fi

script: make test

notifications:
  email: false
