<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of the Fidry\AliceDataFixtures package.
  ~
  ~ (c) Théo FIDRY <theo.fidry@gmail.com>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         stopOnFailure="true"
         verbose="true">

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="2" />
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
            <exclude>tests/Bridge</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/Bridge</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
