<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of the Fidry\AliceDataFixtures package.
  ~
  ~ (c) Théo FIDRY <theo.fidry@gmail.com>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor-bin/doctrine_phpcr/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/Bridge/DoctrinePhpCr/autoload.php"
         cacheDirectory="var/phpunit-cache-doctrine-phpcr"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         stopOnFailure="true"
         backupGlobals="false">

    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests/Bridge/DoctrinePhpCr</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/Bridge/Doctrine</directory>
        </include>
    </source>

</phpunit>
