name: Test

on:
    pull_request:
    push:
        branches: [ master ]

# this fixes the input device is not a TTY .. see https://github.com/docker/compose/issues/5696
env:
    COMPOSE_INTERACTIVE_NO_CLI: 1

jobs:
    test:
        name: PHP ${{ matrix.php-version }} + ${{ matrix.dependencies }} + ${{ matrix.variant }}

        runs-on: ubuntu-18.04

        strategy:
            matrix:
                php-version:
                    - '7.4'
                    - '8.0'
                    - '8.1'
                dependencies: [ highest ]
                variant: [ normal ]
                include:
                    -   php-version: '7.4'
                        dependencies: lowest
                        variant: normal
                    -   php-version: '7.4'
                        dependencies: highest
                        variant: 'symfony/symfony:"~4.4.0"'
                    -   php-version: '7.4'
                        dependencies: highest
                        variant: 'symfony/symfony:"~5.3.0"'

        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Install PHP with extensions
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: xdebug
                    tools: phpenv, pecl, composer:v2
                    extensions: mongodb-1.9.0

            -   name: Configure
                run: |
                    set -eo pipefail
                    PHPUNIT_FLAGS='--stop-on-failure --verbose'
                    perl -pi -e 's/^}$/,"provide":{"ext-mongo":"*"}}/' composer.json

            -   name: Install variant
                if: matrix.variant != 'normal'
                run: composer require --dev --no-update ${{ matrix.variant }}

            -   name: Install Composer dependencies (${{ matrix.dependencies }})
                uses: ramsey/composer-install@v2
                with:
                    dependency-versions: ${{ matrix.dependencies }}
                    composer-options: "--prefer-dist --prefer-stable"

            -   name: Install Composer bin dependencies
                run: composer bin symfony install

            -   name: Start the Docker containers
                run: make start_databases

            -   name: Run Tests
                run: make test
